<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    <p>Email: <%= email %></p>
    <br /><br />

    <a href="/tasks">View Tasks</a>
    <a href="/logout">Logout</a>
</body>
</html>