<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Task Management App!</h1>
    <p>Manage your tasks with secure login and registration.</p>
    <p> <b>MongoDB</b> for authentication, <b>Postgres</b> for your data.</p>
    <br />
    <a href="/login">Login</a>
    <br />
    <a href="/register">Register</a>
</body>
</html>